
.main{
    background-color: whitesmoke;
    height: 550px;
    width: auto;
}
.containers{
height: 350px;
width: 360px;
border-radius: 100%;
background-color: black;
margin-left: 500px;
margin-right: 500px;
margin-top: 50px;
box-shadow: 4px 4px 4px yellow;

}
span{
    font-size: 54px;
    color: gold;
    margin-left: 40px;
    line-height: 300px;
]
    
}



.buttons{
    margin-left: 40px;
    margin-top: -80px;
}


